* {
    font-size: 15px;
}

.open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

/* color styles */
.dark2{
    color: #757575;
}
.dark3{
    color: #474747;
}

/* shared styles */
.text20{
    font-size: 1.3rem;
}

/* header styles */
.logo h2{
    font-weight: 800;
    font-size: 3rem;
}

.logo-yellow{
    color: #FD6E0A;
    font-weight: 800;
    font-size: 3rem;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
}
.nav-ul {
    display: flex;
    justify-content: space-between;
}